<section class="container_portada">
    <img src="assets/images/imagenportada.png" alt="imagenpokebola" class="imgpokebola">
    <p class="titlebienvenidos">Bienvenidos</p>

    <div class="card-1" >
        <div class="cuadro-1">
          <h1 class="titlepokemon">Eevee</h1> 
          <img src="assets/images/Eevee.webp" class="img-list">
          <div class="calificacion">
            <h2 class="datos">DATOS</h2>
            <p class="datostexto">Grupo: Campo <br>Numero: #133 <br>PESO / ALTURA 6.5 Kg. / 0.3 m</p>
          </div>
        </div>
         <div class="cuadro-1">
          <h1 class="titlepokemon">Snorlax</h1>
          <img src="assets/images/Snorlax.webp" class="img-list">
          <div class="calificacion">
            <h2 class="datos">DATOS</h2>
            <p class="datostexto">Grupo: Campo <br>Numero: #133 <br>PESO / ALTURA 6.5 Kg. / 0.3 m</p>
          </div>
        </div>
        <div class="cuadro-1">
          <h1 class="titlepokemon">Jigglypuff</h1>
          <img src="assets/images/Jigglypuff.webp" class="img-list"> 
          <div class="calificacion">
            <h2 class="datos">DATOS</h2>
            <p class="datostexto">Grupo: Campo <br>Numero: #133 <br>PESO / ALTURA 6.5 Kg. / 0.3 m</p>
          </div>
        </div> 
    </div>
    <div class="card-2">
        <div class="cuadro-2">
          <h1 class="titlepokemon">Psyduck</h1>
          <img src="assets/images/Psyduck.webp" class="img-list">   
          <div class="calificacion2">
            <h2 class="datos2">DATOS</h2>
            <p class="datostexto2">Grupo: Campo <br>Numero: #133 <br>PESO / ALTURA 6.5 Kg. / 0.3 m</p>
          </div>      
        </div>
        <div class="cuadro-2">
          <h1 class="titlepokemon">Pikachu</h1>
          <img src="assets/images/Pikachu.webp" class="img-list">  
          <div class="calificacion2">
            <h2 class="datos2">DATOS</h2>
            <p class="datostexto2">Grupo: Campo <br>Numero: #133 <br>PESO / ALTURA 6.5 Kg. / 0.3 m</p>
          </div>
        </div>
        <div class="cuadro-2">
          <h1 class="titlepokemon">Gengar</h1>
          <img src="assets/images/Gengar.webp" class="img-list">  
          <div class="calificacion2">
            <h2 class="datos2">DATOS</h2>
            <p class="datostexto2">Grupo: Campo <br>Numero: #133 <br>PESO / ALTURA 6.5 Kg. / 0.3 m</p>
          </div>
        </div>
    </div>
 </section>