<section class="container_portada">
    <img src="assets/images/imagenportada.png" alt="imagenpokebola" class="imgpokebola">
    <p class="titlebienvenidos">Bienvenidos</p>

    <div class="card-1" >
        <div class="cuadro-1">
          <p class="titlepokemon">Eevee</p> 
          <img src="assets/images/Eevee.webp" class="img-list">
        </div>
         <div class="cuadro-1">
          <p class="titlepokemon">Snorlax</p>
          <img src="assets/images/Snorlax.webp" class="img-list">
        </div>
        <div class="cuadro-1">
          <p class="titlepokemon">Jigglypuff</p>
          <img src="assets/images/Jigglypuff.webp" class="img-list"> 
        </div> 
    </div>
    <div class="card-2">
        <div class="cuadro-2">
          <p class="titlepokemon">Psyduck</p>
          <img src="assets/images/Psyduck.webp" class="img-list">         
        </div>
        <div class="cuadro-2">
          <p class="titlepokemon">Pikachu</p>
          <img src="assets/images/Pikachu.webp" class="img-list">  
        </div>
        <div class="cuadro-2">
          <p class="titlepokemon">Gengar</p>
          <img src="assets/images/Gengar.webp" class="img-list">  
        </div>
    </div>
 </section>